@page
@model DavidRamsayWebApp20230801.Pages.AboutMeModel
@{
}
<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Check out <a href="https://docs.microsoft.com/aspnet/core">my LinkedIn</a>.</p>
</div>
<div class="text-body">
    <h1 class ="display-4">What I do:</h1>
    <p>I work at Microsoft as a Layer 7 Support Escalation Engineer.</p>
    <p>I support Application Gateway, Azure Front Door, Azure CDN, and Azure Traffic Manager. My specialties are App Gateway and AFD. <br />In fact, at this very moment you are reaching this website via an AFD and App Gateway in the frontend, and an Azure App Service running an ASP.NET Razor Pages webapp in the backend.</p>
</div>